*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
}

/*Sección header*/
#header {
	background: #1919A3;
	padding: 15px;
}

.button {
	float:right;
	background: #DCDCDC;
	border: none;
	border-radius: 5px;
	padding: 6px;
	font-weight: bolder;
}
.button:hover {
	background: #D3D3D3;
}

.header {
	text-align: center;
	background: #1919A3;
}

/*Sección title*/
#title {
	background: #4D4DB8;
	padding: 8px;
	padding-left: 20px;
}

#añadir {
	background: #4D4DB8;
	color: white;
	border: none;
}


/*Sección form*/
#form {
		background: #4D4DB8;

}



